build/
Debug/
include/filteredWords.inl
include/filteredWords.inl
words.txt
masks.txt
all_words.inl
CudaPangram.exe
CudaPangram.pdb
.vscode
solutions.txt
filteredWords.txt
include/allWords.inl
allWords.txt
allsolutions.txt